<nav style="background-color: #1976d2; color: white; padding: 1rem">
  <a
    routerLink="/"
    routerLinkActive="active"
    style="margin-right: 20px; color: white; text-decoration: none"
    >Home</a
  >
  <a
    routerLink="/mfe1"
    routerLinkActive="active"
    style="margin-right: 20px; color: white; text-decoration: none"
    >MFE 1</a
  >
  <a
    routerLink="/mfe2"
    routerLinkActive="active"
    style="color: white; text-decoration: none"
    >MFE 2</a
  >
</nav>

<div style="padding: 2rem">
  <router-outlet></router-outlet>
</div>
